
.git
.github
.dockerignore
.gitignore

.DS_Store
.idea
.vscode

.cookiecutter.json
.coverage
.cruft.json
.darglint
.env
.flake8

.gitattributes
.mypy_cache
.nox
.pre-commit-config.yaml
.python-version
.readthedocs.yml

.cache
.pytest_cache
**/__pycache__
**/node_modules
dist
**/.webassets-cache

docs
tests
tic-tac-toe.puml
