.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
**/.pytest_cache/
/htmlcov/
/src/app/static/.webassets-cache/
/src/app/static/dist/
/src/node_modules/
