<p>
  room is: {{room}}<br />
  board is: {{board}}<br />
  turn is: {{turn}}
</p>
<div class="grid grid-cols-3 w-96 h-96">
  {% for i in range(3) %} {% for j in range(3) %} {% set disabled = "disabled"
  if board[i][j] != "_" or session.my_mark != turn else None %}
  <!--suppress HtmlUnknownAttribute -->
  <form
    id="move-{{i}}{{j}}"
    class="form"
    hx-post="/move_multi"
    hx-target="#board"
  >
    <div class="h-full text-center border border-black">
      <input
        type="hidden"
        name="coord"
        id="coord-{{i}}{{j}}"
        value="{{i}} {{j}}"
      />
      <input
        type="hidden"
        name="player_mark"
        id="player_mark-{{i}}{{j}}"
        value="{{turn}}"
      />
      <input
        type="hidden"
        name="room_name"
        id="room_name-{{i}}{{j}}"
        value="{{room}}"
      />
      <!--suppress HtmlUnknownAttribute -->
      <button
        id="button-{{i}}{{j}}"
        class="w-full h-full text-4xl"
        {{disabled
        if
        disabled}}
      >
        {{board[i][j]}}
      </button>
      <!--suppress HtmlUnknownAttribute -->
      <input type="submit" id="real-button-{{i}}{{j}}" style="display: none" />
    </div>
  </form>
  {% endfor %} {% endfor %}
</div>
