{% if winner %}{% include 'win.html' %}{% endif %}
<!--suppress HtmlUnknownAttribute -->
<div
  id="grid"
  class="grid grid-cols-3 mt-8 w-96 h-96"
  hx-get="/board"
  hx-target="#board"
  hx-trigger="reloadBoard"
>
  {% for i in range(3) %} {% for j in range(3) %} {% set disabled = "disabled"
  if board[i][j] != "_" or my_mark != turn else None %}
  <!--suppress HtmlUnknownAttribute -->
  <div id="move-{{i}}{{j}}">
    <div class="h-full text-center border border-black">
      <input
        type="hidden"
        name="coord"
        id="coord-{{i}}{{j}}"
        value="{{i}} {{j}}"
      />
      <!--suppress HtmlUnknownAttribute -->
      <button
        id="button-{{i}}{{j}}"
        class="w-full h-full text-4xl"
        {{disabled
        if
        disabled}}
      >
        {{board[i][j]}}
      </button>
    </div>
  </div>
  {% endfor %} {% endfor %}
</div>
