{% extends "layout.html" %} {% block title %} Tic Tac Toe - Play {% endblock %}
{% block head %} {{ super() }} {% endblock %} {% block content %}

<div class="flex flex-col h-screen justify-center items-center">
  <div class="text-7xl font font-extrabold tracking-tight text-gray-900">
    Tic Tac Toe Game
  </div>
  <p>
    Current transport is: <b><span id="transport"></span></b><br />
  </p>
  <br />
  <form id="send_room" method="POST" action="#">
    <input
      type="text"
      name="room_name"
      id="room_name"
      placeholder="Room Name"
    />
    <input type="text" name="room_data" id="room_data" placeholder="Message" />
    <input type="submit" value="Send to Room" />
  </form>
  <h2>Receive:</h2>
  <div id="log"></div>
  <div class="mt-4 text-2xl font font-extrabold tracking-tight text-gray-900">
    Scores
  </div>
  <div id="scores">
    {% for score in scores %} Player {{ score[0] }} &mdash;
    <span>{{ score[1] }}</span>
    {% endfor %}
  </div>
  <div id="board" class="mt-8">{% include 'board_multi.html' %}</div>
  <a
    href="{{ url_for('main.new_game') }}"
    class="
      mt-10
      bg-blue-600
      rounded-md
      py-3
      px-8
      font-medium
      text-white
      hover:bg-blue-700
    "
    >Start over</a
  >
  {% endblock %} {% block scripts %}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
    integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      // Connect to the Socket.IO server.
      // The connection URL has the following format, relative to the current page:
      //     http[s]://<domain>:<port>[/<namespace>]
      var socket = io();

      // Event handler for new connections.
      // The callback function is invoked when a connection with the
      // server is established.
      socket.on("connect", function () {
        console.log("socket.on.connect");
        socket.emit("join", { room: "{{room}}" });
      });

      $("form#send_room").submit(function (event) {
        socket.emit("my_room_event", {
          room: $("#room_name").val(),
          data: $("#room_data").val(),
        });
        return false;
      });

      $("#board").on("click", "button", function (event) {
        event.preventDefault();
        console.log("form.move.submit - before");

        var $button = $(this);
        // console.log($button);

        var $id = $button.attr("id");
        // console.log($id);

        var form_id = $id.split("-")[1];
        var cell = form_id.split("").join(" ");
        // console.log(cell);

        socket.emit("emit_move", {
          room: "{{room}}",
          player_mark: "{{turn}}",
          form_id: form_id,
          coord: cell,
        });

        console.log("form.move.submit - after");

        $("#grid").trigger("click");

        console.log("form.move.last");
      });

      socket.on("refresh_game", function () {
        console.log("socket.on.refresh_game");
        $("#grid").trigger("click");
      });
    });
  </script>

  {% endblock %}
</div>
