{% extends "layout.html" %} {% block title %} Tic Tac Toe - Play {% endblock %}
{% block head %} {{ super() }} {% endblock %} {% block content %}

<div>
  <main>
    <div class="panel__label">Score &mdash; <span id="score">0</span></div>

    <div class="max-w-screen-lg mx-auto p-4">
      <div id="board" class="grid grid-cols-5 mt-12">
        {% include 'board.html' %}
      </div>
    </div>

    <button
      type="button"
      onclick="window.location.href='{{ url_for('main.new_game') }}';"
    >
      Start Over
    </button>
    <h2>AI choice</h2>
    <form action="" method="POST">
      <button type="submit" name="AI_random">Random move</button>
      <button type="submit" name="AI_mcts">AI MCTS</button>
      <button type="submit" name="AI_negamax">AI Negamax</button>
    </form>
  </main>
  {% endblock %} {% block scripts %} {% endblock %}
</div>
