{% extends "layout.html" %} {% block title %} Tic Tac Toe - Play {% endblock %}
{% block head %} {{ super() }} {% endblock %} {% block content %}
<div>
  <main>
    <div class="panel__label">Score &mdash; <span id="score">0</span></div>
    <form action="" method="POST">
      <table>
        {% for i in range(3) %}
        <tr>
          {% for j in range(3) %}
          <td>
            {% set disabled = "disabled" if board[i][j] != "_" %}
            <!--suppress HtmlUnknownAttribute -->
            <button
              type="submit"
              name="choice"
              value="{{i}} {{j}}"
              {{
              disabled
              }}
            >
              {{board[i][j]}}
            </button>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </form>
    <button
      type="button"
      onclick="window.location.href='{{ url_for('main.new_game') }}';"
    >
      Start Over
    </button>
    <h2>AI choice</h2>
    <form action="" method="POST">
      <button type="submit" name="AI_random">Random move</button>
      <button type="submit" name="AI_mcts">AI MCTS</button>
      <button type="submit" name="AI_negamax">AI Negamax</button>
    </form>
  </main>
  {% endblock %} {% block scripts %} {% endblock %}
</div>
