<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% assets 'css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %} {% assets 'js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    {% endblock %}
  </head>
  <body class="bg-gray-50">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <div class="container mx-auto" id="content">
      {% block content %} {% endblock %}
    </div>
    {% block scripts %} {% endblock %}
  </body>
</html>
