{% extends "layout.html" %} {% block title %} Tic Tac Toe Game {% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block content %}
<div class="flex flex-col h-screen justify-center items-center">
  <div class="text-7xl font font-extrabold tracking-tight text-gray-900">
    Tic Tac Toe Game
  </div>

  <form action="" method="POST">
    <input
      type="text"
      name="name"
      placeholder="Game name"
      class="bg-white h-10 px-5 pr-10 rounded-full text-2xl focus:outline-none"
    />
    <button
      type="submit"
      class="
        mt-10
        bg-blue-600
        rounded-md
        py-3
        px-8
        font-medium
        text-white
        hover:bg-blue-700
      "
    >
      Join game
    </button>
  </form>
</div>
{% endblock %} {% block scripts %}{% endblock %}
